@use '../abstracts' as *;
.btn {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: none;
	background-color: $neon-green;
	outline: none;
	cursor: pointer;
	transition: all 0.5s ease-in-out;

	&.hover,
	&.focus,
	&.active {
		opacity: 0.8;
	}

	&:active .icon-dice {
		animation: spin 300ms linear;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1000deg);
	}
}
