@use '../abstracts' as *;
.btn {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: none;
	background-color: $neon-green;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: scale(0.95);
		box-shadow: $shadow-5;
	}

	&.active {
		.icon-dice {
			animation: spin 500ms infinite;
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(720deg);
	}
}
